
    .recordButton {

      margin-left: 55%;
      background-image: url('../asset/1.gif');
      width: 300px;
      height: 300px;
 
      font-family: 'Special Elite', cursive;
      font-size: 55px;
    }

  
    .stopButton {

      margin-left: 55%;
      background-image: url('../asset/2.gif');
      width: 300px;
      height: 300px;

      font-family: 'Special Elite', cursive;
      font-size: 55px;
    }


    .GenerateBtn {
       margin-left: 45%;
      background-image: url('../asset/2.gif');
      width: 300px;
      height: 300px;

      font-family: 'Special Elite', cursive;
      font-size: 55px;

    }